<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>HW1 Helloworld</title>
</head>

<body>
    <div id="app">
        <!-- Chang Name = Staring  -->
        {{message}}
        {{myName}}
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue !!',
                myName: 'Satarat'
            }
        });
    </script>

    <div id="app2">
        <a v-bind:href="googlelink">{{googleName}}</a>
    </div>

    <script>
        new Vue({
            el: '#app2',
            data: {
                googleName: 'Google',
                googlelink: 'https://www.google.com'
            }
        });
    </script>

</body>

</html>